.custom-button {
  padding: 12px 26px;
  border-radius: 100px;
  border: 1px solid lightgrey;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  max-width: 90px;
  &:hover {
    cursor: pointer;
  }
  &.circle {
    padding: 0;
    width: 45px;
    aspect-ratio: 1/1;
  }
  svg {
    font-size: 24px;
  }
}

.animate {
  animation: push 100ms;
}

@keyframes push {
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
