.item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  transition: all 0.3s ease-in-out;
  &.center {
    transform: translate(-50%, -50%);
    &.animateHex {
      transform: translate(-50%, -50%) scale(0.85);
    }
    svg {
      color: rgb(240, 215, 30);
    }
  }
  &.top {
    transform: translate(-50%, -140%) scale(1);
    &.animateHex {
      transform: translate(-50%, -140%) scale(0.85);
    }
  }

  &.top-right {
    transform: translate(33%, -95%) scale(1);
    &.animateHex {
      transform: translate(33%, -95%) scale(0.85);
    }
  }
  &.bottom-right {
    transform: translate(33%, -5%) scale(1);
    &.animateHex {
      transform: translate(33%, -5%) scale(0.85);
    }
  }
  &.bottom {
    transform: translate(-50%, 40%) scale(1);
    &.animateHex {
      transform: translate(-50%, 40%) scale(0.85);
    }
  }
  &.bottom-left {
    transform: translate(-133%, -5%) scale(1);
    &.animateHex {
      transform: translate(-133%, -5%) scale(0.85);
    }
  }
  &.top-left {
    transform: translate(-133%, -95%) scale(1);
    &.animateHex {
      transform: translate(-133%, -95%) scale(0.85);
    }
  }
  svg {
    font-size: 100px;
    transform: rotate(30deg);
    color: #e6e6e6;
    path {
      cursor: pointer;
    }
  }
  span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
    cursor: pointer;
  }
}
