.hive-guessed-container {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr;
  }

  // left sid
  .hive-buttons-input-container {
    .hive {
      max-width: 400px;
      aspect-ratio: 1 / 1;
      margin: 0 auto;
      position: relative;

      @media only screen and (max-width: 350px) {
        margin: 32px 0;
      }
    }
    .buttonsContainer {
      display: flex;
      justify-content: space-between;
      max-width: 270px;
      margin: 0 auto;
      align-items: center;
      gap: 16px;
    }
  }
  //right side
  .status-container {
    width: 400px;
  }
}
