.status-container-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 400px;
  width: 100%;
  padding: 0 16px;
}

.status-container {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px 30px;
  flex: 1;
  width: 100%;
}

.status-container .small-title {
  font-size: 16px;
  font-weight: 500;
  padding: 0 0 16px 0px;
  flex: 100%;
}

.status-container .letter {
  text-transform: capitalize;
  font-size: 16px;
  width: 48%;
  padding: 12px 0px 2px 0px;
  border-bottom: 1px solid #e6e6e6;
  text-transform: capitalize;
}

.status-bar-container {
  display: flex;
  margin-bottom: 16px;
}

.status-bar-container .level-text {
  font-size: 18px;
  font-weight: 700;
}

.status-bar-container .level-line {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  position: relative;
  margin: 0 10px 0 24px;
}

.status-bar-container .level-line::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.status-bar-container .level-line span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #e6e6e6;
}

.status-bar-container .level-line .value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: rgb(240, 215, 30);
  color: #000;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  transition: all 0.2s ease-in-out;
  z-index: 30;
}

span.dots:last-of-type {
  position: absolute;
  right: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  background-color: #e6e6e6;
  color: #000;
  z-index: 10;
}

.status-bar-container .level-line .value.twenty-five {
  left: 25%;
}

.status-bar-container .level-line .value.fifty {
  left: 50%;
}

.status-bar-container .level-line .value.seventy-five {
  left: 75%;
}

.status-bar-container .level-line .value.hundred {
  left: 100%;
}

.letters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .status-container-wrapper {
    align-self: center;
  }
}
