@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

h1 {
  font-size: 42px;
  font-weight: 900;
}

main {
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 50px;
  max-width: 900px;
  margin: 0 auto;
  @media only screen and (max-width: 900px) {
    padding-top: 50px;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.about {
  margin-top: 24px;
  text-wrap: balance;
}

h2 {
  margin-top: 64px;
}

a {
  color: #000;
}
